body {
	text-align: center;
}

canvas {
	border: 1px solid black;
	cursor: crosshair;
	display: block;
	margin: 10px auto;
}

button, select, input {
	margin: 10px;
}

#trainingSection {
	margin-top: 20px;
}
